@import '../../styles/var.scss';

.button {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  color: $white;
  cursor: pointer;

  transition: ease .3s all;
  &:hover{
    transition: ease .3s all;
  }

}

.danger {
  background: $danger;
  &:hover {
    background: rgba($danger, .8)
  }
}

.main {
  background: $blue;
  &:hover {
    background: rgba($blue, .8)
  }
}