@import '../../styles/var.scss';

.button {
  display: flex;
  align-items: center;
  fill: $white;
  text-decoration: none;
  text-align: center;

  font-size: 16px;
  padding: 10px;
  // width: 100%;
  border: 0;
  border-radius: 5px;
  color: $white;
  cursor: pointer;

  transition: ease .3s all;
  &:hover{
    transition: ease .3s all;
  }

}

.widthAuto{
  width: auto;
}

.menu {
  width: 5rem;
  display: block;
  border-radius: 0;
  border-bottom-left-radius: 10px;
}

.difuminated{
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}

.danger {
  background: $danger;
  &:hover {
    background: rgba($danger, .8)
  }
}

.main {
  background: $blue;
  &:hover {
    background: rgba($blue, .8)
  }
}