@import '../../styles/var.scss';

.link {
  text-decoration: none;
  color: $blue;
  fill: $blue;
  display: flex;
  align-items: center;
  &:hover {
    color: $blue-third;
    fill: $blue-third;

  }
}