@import '../styles/var.scss';

.card{
  background: $blue;
  padding: 2rem;
  fill: $white;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax( 100px, 1fr ));

  svg {
    margin: auto;
  }
}