@import '../styles/var.scss';

.card {
  background: $blue-third;
  color: $white;
  margin: 2rem 1rem;
  border-radius: 10px;
  transition: ease .5s all;

  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.gridOptions {
  padding: 2rem;  
  grid-row: span 2;
  max-height: 100%;
  grid-template-areas: "main-content    image"
                       "main-content    buttons";
}


.grid {
  padding: 1rem;
  grid-row: span 1;

  grid-template-areas: "main-content   image";

  cursor: pointer;
  &:hover {
    transition: ease .3s all;
    background: $blue-second;
  }
}

.none {
  display: none;
}


.mainContent {
  grid-area: main-content;
  padding: 1rem;
}

.imgContent {
  grid-area: image;
  & > div{
    img{
      border-radius: 10px;
    }
  }
}

.buttonContent {
  grid-area: buttons;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
}

.title {
  font-size: 20px;
  font-weight: 500;
}


@media screen and (max-width: 460px) {
  .card {
    max-height: 100%;
    grid-template-columns: 1fr;
    padding: 0;

    box-shadow: 2px 2px 5px rgba($blue-third, .5);
    -webkit-box-shadow: 1px 2px 5px rgba($blue-third, .5);
    -moz-box-shadow: 1px 2px 5px rgba($blue-third, .5);
  }

  .imgContent {
    transition: ease .3s all;
    padding-bottom: 1rem;
    & > div img {
      border-radius: 0;
    }
  }

  .grid{
    grid-template-areas: "image" "main-content" ;
    .imgContent > div img {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }

  .gridOptions {
    grid-template-areas: "image" "main-content"  "buttons";
    .imgContent {
      padding: 1rem;
      & > div img{
        border-radius: 10px;
      }
    }
  }

  .mainContent, .buttonContent {
    padding: 0 1rem 1rem 1rem;
  } 

  .buttonContent {
    padding-bottom: 1rem;
  }

  .title {
    text-align: center;
  }
}
