@import '../styles/var.scss';

.cards{
  color: $white;
  background: $blue-second;
  padding: 20px 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;

  bottom: 0;

}

.open {
  animation: openMenu .7s;
}

.close {
  animation: closeMenu .7s;
}

.title {
  text-align: center;
}

.btn {
  fill: $white;
  margin-right: 10px;
}

@keyframes openMenu {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes closeMenu {
  0% {
    top: 0;
  }
  100% {
    top: 100vh;
  }
}