.content{
  background: $back;
  max-width: 900px;
  min-width: 100px;
  width: 100%;
  min-height: 800px; 
  margin: auto;
  border-radius: 10px;
  
  position: relative;
  bottom: 10rem;
  margin-bottom: -10rem;

  box-shadow: 1px 2px 5px rgba($black, .5);
  -webkit-box-shadow: 1px 2px 5px rgba($black, .5);
  -moz-box-shadow: 1px 2px 5px rgba($black, .5);

  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "head" "nav" "main";

  animation: bottomdif 1s;
}


@keyframes bottomdif {
  0% {
    filter: opacity(0%);
    filter: blur(10px);
    bottom: 0rem;
  }

  100% {
    filter: opacity(99%);
    filter: blur(.5px);
    bottom: 10rem;
  }
}

.main {
  padding: 4rem 2rem;
  .section {
    text-align: center;
    font-size: 18px;
  }

  .title, .desc{
    padding: 1rem 0;
  }

  .option {
    display: flex;
    align-items: center;
    padding: 10px 0;
    p{
      padding-left: 5px;
    }
  }
}

.main-article {
  padding: 4rem 0;
  display: grid;
  gap: 3rem;
}

.main-work{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "card-1    card-2"
                       "card-1    card-3";

  .card-1{
    grid-area: card-1;
  }

  .card-2{
    grid-area: card-2;
    background: $blue-second;
    padding: 20px 0;
  }

  .card-3 {
    grid-area: card-3;
    background: $blue-second;
    border-bottom-right-radius: 10px;
    padding: 20px 0;

  }

  .title {
    text-align: center;
    color: $white;
  }
}

.head {
  padding: 2rem;
}